body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 900px;
  margin: auto;
}

main {
  background-color: rgb(233, 231, 231);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  color: white;
  background: linear-gradient(0.25turn,#672280,#A626D3);
  align-items: center;
}

.header--image {
  width: 45px;
  object-fit: cover;
  margin: 0px 10px 0px 30px;
}

.header--title {
  margin-right: auto;
  font-size: 1.8rem;
  font-weight: 600;
}

.header--description {
  margin: 0px 30px;
}

.input {
  width: 90%;
  margin: auto;
  padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
}

.input--first-input {
  width: 44%;
  margin-right: auto;
  padding: 10px 10px;
  border-radius: 5px;
  border: rgba(128, 128, 128, 0.404) 1.5px solid;
}

.input--first-input::placeholder{
  color: black;

}

.input--second-input {
  width: 44%;
  padding: 10px 10px;
  border-radius: 5px;
  border: rgba(128, 128, 128, 0.404) 1.5px solid;
}

.input--second-input::placeholder{
  color: black; 
}

.input--submit-button{
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: linear-gradient(0.25turn,#672280,#A626D3);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.meme {
  position: relative;
  text-align: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
  margin-bottom: 70px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 80px;
}

.top {
  top: 0;
}